[Unit]
Description=Credentials for Foreman's systemd units
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/foreman-credentiald
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=full
