[Unit]
Description=Credentials for Foreman's systemd units
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
LoadCredential=role-id:/etc/foreman-credentials/role-id
LoadCredentialEncrypted=secret-id:/etc/foreman-credentials/secret-id
EnvironmentFile=/etc/foreman-credentials/env
ExecStart=/usr/bin/foreman-credentiald
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=full
