[Unit]
Description=Socket for foreman credentiald

[Socket]
ListenStream=/run/foreman-credentiald.socket
SocketUser=root
SocketGroup=root
SocketMode=0600

[Install]
WantedBy=sockets.target
